.project-container  {
    margin: 0;
    background-color: red;
    color: black;
    /* background: url(../../../public/images/table_top@72x.png); */
    overflow: hidden;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;
  }

  .portfolio-modal {
    position: absolute;
    margin: 5vh 10vw;
    top: 0;
    /* left: '50%', */
    /* transform: 'translate(-50%, 0)', */
    width: 80vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow-x: scroll;
  } 
  
  
  .portfolio-modal img {
    max-width: 300px;
    height: auto;
  }