.contact {
  margin: 0;
  background-color: white;
  color: black;
}

.contact-container {
  display: inline-flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}

.contact-illustration-container {
  width: 50vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

.contact .image-container {
  padding: 5vh 5vw;
  width: auto;
  /* height: 100vh; */
  position: absolute;
}

.contact img {
  width: 40vw;
  height: auto;
  /* height: 100vh; */
  object-fit: contain;
}


.about-contact {
  width: 40vw;
  display: inline-flex;
  padding: 5vw;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  flex-direction: column;
}

@media screen and (max-width : 450px) {
  .contact-container {
    flex-direction: column;
    min-height: 100vh;
  }

  .about-contact {
    width: 100vw;
  }

  .contact-illustration-container {
    width: 100vw;
  }

  .contact .image-container {
    position: relative;
  }

  .contact img { 
    width: 90vw;
  }
}
