.main {
  margin: 0;
}

.parts {
  width: 100%;
  /* height: 500vh; */
  /* position: absolute; */
  display: inline-block;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: y mandatory; */
}

.parts > * {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* scroll-snap-align: start; */
}

.main-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .line-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 1000; 
}  */

/* svg {
  display: inline-block;
  height: 100%;
} */

/* path {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 2566;
  stroke-dashoffset: 2566;
  animation: cloud 5s linear alternate infinite;
}
@keyframes cloud {
  from {
    stroke-dashoffset: 2566;
  }
  to {
    stroke-dashoffset: 0;
  }
} */

