.main {
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 72px;
}

.parts {
  width: 100%;
  height: calc(100vh - 72px);
  position: absolute;
  top: 72px;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

.parts > * {
  width: 100%;
  height: calc(100vh - 72px);
  /* scroll-snap-align: start; */
}
